/*

Atom One Dark by Daniel Gamage
Original One Dark Syntax theme from https://github.com/atom/one-dark-syntax

base:    #282c34
mono-1:  #abb2bf
mono-2:  #818896
mono-3:  #5c6370
hue-1:   #56b6c2
hue-2:   #61aeee
hue-3:   #c678dd
hue-4:   #98c379
hue-5:   #e06c75
hue-5-2: #be5046
hue-6:   #d19a66
hue-6-2: #e6c07b

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #abb2bf;
  /*background: #282c34;*/
  background: #3c4657;
}

.hljs-comment,
.hljs-quote {
  color: #00FF7F;
  font-style: italic;
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
  color: #c678dd;
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: #e06c75;
}

.hljs-literal {
  color: #56b6c2;
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta-string {
  color: #98c379;
}

.hljs-built_in,
.hljs-class .hljs-title {
  color: #e6c07b;
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: #d19a66;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: #61aeee;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link {
  text-decoration: underline;
}
/*代码行号*/
.hljs-line-numbers{
  background-color: #3a4f65;
}
/*.hljs {
  border: 0;
  font-size: 12px;
  display: block;
  margin: 0;
  width: 100%;
}
.hljs ul {
  list-style: decimal;
  margin: 0px 0px 0 40px;
  padding: 0px;
  color: #e0d3d3;
}
.hljs ul li {
  list-style: decimal-leading-zero;
  border-left: 1px solid #3a4f65;
  padding: .4em;
  padding-left: .8em;
  margin: 0;
  line-height: 16px;
}
.hljs ul li:nth-of-type(even) {
  color: inherit;
}*/
/*代码行号*/
